/* HEADER */
nav, nav .logo img{
  background-color: var(--fundoLilas);
}

/* Botão Pular para Conteúdo Principal */
nav .logo .pularNavegacao {}



/* Botão de compartilhamento */
nav .nav-link {}
nav .nav-link:focus,
nav .nav-link:hover,
nav .nav-link[aria-expanded="true"] {}

footer .aval-rea .btn-secondary:hover,
footer .aval-rea .btn-secondary:focus {}


/* MAIN */
main {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media only screen and (max-width: 992px) {
  main {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
